html {
    background-color: #ff6;
    color: #000;
}

.face {
	color: white;
	border:1px solid white;
	border-radius:25px;
	font-size: 24px;
	padding: 5px;
}

.sad-face {
	color: white;
	background-color: red;
/*	border-radius:25px;
	font-size: 24px;
	padding: 4px;*/
}

.happy-face {
	color: white;
	background-color: #6F6;
}